/* Media Queries */

@media (max-width: 950px) {
  /* Header */
  .flexHeader {
    flex-direction: column;
   
  }
 
  header p {
    font-size: 1.2rem;
    text-align: center;
  }
  /* Welcome section */
  .welcomeSection {
    height: 70vh;
    h2 {
      margin-top: 10px;
      font-size: 3rem;
    }
    p {
      font-size: 1.5rem;
    
    }
  }

  /* Form section */
  .flexForm {
    flex-direction: column;
    .form,
    .textForm {
      width: 100%;
      margin: 40px 0;
    }
  }
  .form{
    .errorMessage, .loading{
      margin: 15px 0;
      padding:0;
    }
  }
  form {
    flex-direction: column;
    align-items: center;
  }

  /* Gallery section */

  ul {
    li {
      box-shadow: none;
      min-width: 340px;
      .leagueInfo {
        .eventName {
          font-size: 1.5rem;
          text-shadow: none;
        }
      }
      .team1Stats,
      .team2Stats {
        .teamName {
          text-shadow: none;
        }
      }
    }
  }
  //footer

}
